:root {
  --darkest: #1f2937;
  --dark: #1f2937;
  --mid: #3882f6;
  --light: #e5e7eb;
  --lightest: #f9faf8;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/*=============================================================================*/
header {
  display: flex;
  flex-direction: column;
  background-color: var(--darkest);
  color: var(--light);
  min-height: 95vh;
  height: fit-content;
  padding: 8px 48px 0;
}

nav {
  display: block;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

nav img {
  max-width: 25px;
}

.hero-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 50px;
}

.hero-texts {
  margin-top: 10%;
}

.hero-header {
  font-size: 48px;
  font-weight: bold;
  position: relative;
  margin: 0;
}

#cursor,
#typing-text {
  display: inline-block;
  font-size: 32px;
}
/*=============================================================================*/
.projects {
  display: grid;
  padding: 24px;
  gap: 32px;
  background-color: var(--light);
}

.project-header {
  position: relative;
}

.project-header:hover img {
  filter: brightness(25%);
  transform: scale(1.02);
}

.project-header:hover .project-overlay {
  opacity: 1;
}

.project-img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  opacity: 1;
  transition: 0.3s;
}

.project-overlay {
  width: 100%;
  height: 100%;
  color: var(--light);
  transition: 0.3s;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.projects a {
  background-color: var(--light);
  color: var(--darkest);
  padding: 16px;
  border-radius: 4px;
  transition: 0.3s;
}

.projects a:hover {
  background-color: var(--mid);
  color: var(--light);
}

.projects a:active {
  background-color: var(--dark);
}

.projects ul {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.projects ul li {
  background-color: var(--dark);
  color: var(--light);
  padding: 8px;
  border-radius: 4px;
}

/*=============================================================================*/
.hero-img-container {
  flex: 1 1 50%;
  background-color: var(--darkest);
  padding: 16px 48px;
  max-width: 75%;
  display: flex;
}

.hero-img {
  max-width: 100%;
  border-radius: 8px;
}

/*=============================================================================*/
.music,
.tech {
  display: flex;
  padding: 32px 48px;
  background-color: var(--lightest);
  height: fit-content;
  min-height: 50vh;
}

.tech {
  background-color: (var(--light));
}

.music-content,
.tech-content {
  width: 100%;
  font-size: 24px;
  font-weight: 250;
  color: var(--darkest);
}

/*=============================================================================*/
footer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--darkest);
  color: var(--lightest);
  padding: 48px;
}

footer ul {
  display: grid;
  align-items: start;
  flex-wrap: wrap;
  width: 75%;
  height: 50%;
  gap: 16px;
}

footer li {
  text-align: center;
}

footer img {
  max-width: 50%;
}

a img {
  filter: invert(100);
  transition: 0.5s;
}

header img:hover,
footer img:hover {
  opacity: 50%;
}

@media only screen and (min-width: 768px) {
  header {
    min-height: 100vh;
  }
  .hero-content,
  .music-content,
  .tech-content {
    width: 50%;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
  .tech {
    justify-content: start;
    align-items: center;
  }
  .music {
    justify-content: end;
  }
  footer ul {
    grid-template-columns: repeat(3, 1fr);
    width: 50%;
  }
}
